*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 20px 50px;
    display: flex;
    justify-content: center;
}
.container{ 
    padding: 5px;
    flex-grow: 1;
    border: 1px solid black;


    display: flex;
    flex-direction: column;
}
.container h3{
    text-align: center;
    background-color: beige;
}

.container .card{
    margin: 5px;
    padding: 5px;
    font-display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}